{% extends 'base.html.twig' %}

{% block title %}Nouvelle Question{% endblock %}

{% block body %}
    <div class="register-title">Ajouter une nouvelle question</div>

    <div class="register-form">
        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.question, 'Titre de la question', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.question, {'attr': {'class': 'form-input'}}) }}
            {{ form_errors(form.question) }}
        </div>

        <div class="form-group">
            {{ form_label(form.categorie, 'Catégorie de la question', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.categorie, {'attr': {'class': 'form-input'}}) }}
            {{ form_errors(form.categorie) }}
        </div>

        <div class="form-group">
            {{ form_label(form.photo, 'Photo', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.photo, {'attr': {'class': 'form-input'}}) }}
            {{ form_errors(form.photo) }}
        </div>

        <div class="form-group">
            {{ form_widget(form.submit, {'attr': {'class': 'form-button'}}) }}
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
